@import url(//db.onlinewebfonts.com/c/952bab25f6798d6bb1937d67e9bee4dd?family=Sans);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Bosch Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eee;
    color: #252525;
    position: relative;
    overflow-x: hidden;
}

/* Header */

.header::before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/linha-bosch.png);
}

.header{
    background-color: #fff;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    z-index: 10;
}

.header-container{
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header-left{
    float: left;
}

.header-right{
    width: 250px;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin: 0 0 0 auto;
}

.header-container a{
    display: block;
}

.header-container img{
    margin-top: 16px;
    max-width: 144px;
    display: block;
}

.busca-header{
    margin-right: 10px;
    margin-top: 25px;
}

.busca-header-form{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}

.header-container .busca img{
    height: 24px;
    width: 24px;
}

input[type=search] {
    margin-top: 16px;
    -webkit-appearance: textfield;
    box-sizing: content-box;
    transition: all 0.3s ease-in-out;
}

.fa{
    margin-top: 16px;
}

.iconbusca{
    position:absolute;
    top:0; left:0;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
}

.header-right .menus{
    display:inline-block;
}

.header-right .busca{
    display:inline-block;
    position: relative;
    background: 0 0;
    border: 0;
    margin: 0;
    
}

.header-right.busca::placeholder{
    padding-left: 10px;
}

/* MENU - MENU*/

.menu{
    margin-top: 16px;
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.menu:hover{
    cursor: pointer;
}

.menu:hover .hamburger *{
    background-color: #007bc0;
}

.menu:hover .menu-text{
    color: #007bc0;
}

.hamburger{
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger *{
    background-color: #252525;
    height: 1px;
    width: 18px;
    transition: all 0.3s ease-in-out;
}

.burger1-js{
    position: absolute;
    transform: rotate(-45deg);
}

.burger2-js{
    display: none;
}

.burger3-js{
    position: absolute;
    transform: rotate(45deg);
}

.menu-text{
    margin: 0 0 0 10px;
}

@media (min-width: 300px){
    .header{
        height: 102px;
    }
}

@media (max-width: 1180px){
    .header-container{
        max-width: calc(100vw - 50px);
    }
}

/* Menu Bar */

.menu-bar{
    background-color: #fff;
    position: absolute;
    top: -333px;
    /*height: 435px;*/
    width: 100vw;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.menu-bar-js{
    transform: translateY(435px);
    z-index: 5;
}

.menu-bar-container{
    max-width: 1170px;
    margin: 0 auto;
}

.menu1{
    margin: 30px
     0;
    display: flex;
    flex-direction: column;
}

.menu1 li {
    color: #000;
    line-height: 1.4;
    font-size: 1.5rem;
    cursor: pointer;
    list-style: none;
    margin-bottom: 25px;
}

.menu1 li a{
    color: #000;
}

.menu1 li:hover{
    color: #007bc0;
}

@media (max-width: 1180px){
    .menu-bar-container{
        padding: 0 16px;
    }
}

/* Login */

.login{
    width: 100%;
    /*height: calc(100vh - 305px - 16px);*/
}

.login-container{
    margin: auto;
    width: 800px;
    height: 600px;
    padding: 50px;
    background-color: #fff;    
}

.login-ets h1{
    color: #005691;
    font-size: 1.75rem;
    font-weight: 200;
    margin-bottom: 50px;
}

.edv{
    margin-bottom: 20px;
}

.senha{
    margin-bottom: 25px;
}

.login-options{
    margin-bottom: 25px;
}

.login-btn{
    background-color: #1a679c;
    color: #fff;
    width: 120px;
    height: 50px;
    text-decoration: none;
    border-bottom: 2px solid #008ecf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 35px;
}

.login-btn:hover span{
    color: #fff;
}

@media (max-width: 800px){
    .login-container{
        width: calc(100vw - 20px);
    }
}

/* Footer */

.footer{
    display: block;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.redes-sociais-texto{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.redes-sociais-texto p{
    margin: 15px 0 10px;
}

.redes-sociais{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.redes-sociais-container{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin: 0 auto;
}

.rede-social{
    text-decoration: none;
    max-width: 40px;
    margin: 0 5px;
}

.rede-social img{
    max-width: 40px;
}

.footer-copyright{
    background-color: #fff;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
}

.copyright{
    font-weight: 900;
    font-size: 0.875em;
    margin-right: 30px;
}

.copyright-links a{
    color: #252525;
    margin-right: 30px;
    text-decoration: none;
    font-size: 0.875em;
}

.copyright-links a:hover{
    color: #ccc;
}

.footer::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/linha-bosch.png);
}

@media (max-width: 980px){
    .footer-copyright{
        flex-direction: column-reverse;
    }
    .copyright-links *{
        margin-bottom: 10px;
    }
}

@media (max-width: 740px){
    .copyright-links{
        display: flex;
        flex-direction: column;
    }
}

@media (min-height: 920px){
    .footer{
        position: fixed;
        bottom: 16px;
    }
}

/* Ãrea do Aluno */

.options{
    position: absolute;
    top: -34px;
	width: fit-content;
	margin: 0 auto;
}

.botoes{
	display:inline-block;
	width:fit-content;
	border-radius: 5px 5px 0 0;
	color:white;
	padding: 5px 10px;
    cursor: pointer;
}

#botao1{
	background-color:#b92532;
}
#botao1:hover{
	background-color:#d61828;
}

#botao2{
	background-color:#64439a;
}
#botao2:hover{
	background-color:#5928a8;
}

#botao3{
	background-color:#229ec5;
}
#botao3:hover{
	background-color:#00bef8;
}

#botao4{
	background-color:#7abb78;
}
#botao4:hover{
	background-color:#3fbb3b;
}

.legenda{
    position: absolute;
    top: 20px;
    right: 20px;
}

.legenda > *{
    margin-bottom: 10px;
    display: flex;
}

.cor-apto, .cor-naoapto, .cor-falta{
    height: 20px;
    width: 20px;
    border-radius: 5px;
    position: relative;
    top: 2px;
    left: -5px;
}

.cor-apto{
  background-color:#7FFFD6; 
}

.cor-naoapto{
    background: #EE94FF;
}

.cor-falta{
    background-color: #FFD66B;
}
.main{
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    height: fit-content;
}

.prova-senai{
    grid-area: provasenai;
    border-radius: 10px;
}

.prova-bosch{
    grid-area: provabosch;
    border-radius: 10px;
}

.competencias{
    position: relative;
    grid-area: competencias;
    border-radius: 10px;
}

.main-container{
    display: grid;
    grid-template-areas: 
    "provasenai competencias"
    "provabosch competencias";
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 100%;
    width: 1000px;
    max-width: calc(100vw - 50px);
    margin: 0 auto;
}

.prova-bosch h2, .prova-senai h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.prova-senai, .prova-bosch, .competencias{
    background-color: #fff;
    padding: 20px;
}

.nota{
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.nota-bosch-btn, .nota-senai-btn{
    border: 1px solid #008ecf;
    margin: 0 auto;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
}

.nota-bosch-btn:hover, .nota-senai-btn:hover{
    color: #008ecf;
    background-color: #eaeaea;
}

.competencias-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    width: 100%;
    height: 75%;
    padding: 5px;
}

.competencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.competencia:hover{
    transition: all 0.3s linear;
}

.apto{
    background: #7FFFD6;
}
.apto:hover{
    background: #60FF98;
}

.nao-apto{
    background: #EE94FF;
}
.nao-apto:hover{
    background: #FF76EC;
}

.falta{
    background: #FFD66B;   
}
.falta:hover{
    background: #FFBD4E;   
}

.btn {
    border: 1px solid #008ecf;
    margin: 0 auto;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    display: block;
}

.btn:hover {
    color: #008ecf;
    background-color: #eaeaea;
}
.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index:100;
}
.modal-body{
    display: grid;
    grid-template-areas: 
    "um quatro sete"
    "dois cinco oito"
    "tres seis nove";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: 200px;
}
.dv-modal-senai{
    width: 100vw;
    max-width: 100vw;
}
.senaimodal{
    display: grid;
    grid-template-areas: 
    "um tres"
    "dois quatro";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 200px;
}
.modal-body > * {
    background-color: #E0E0E0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-content {
    border-radius: 10px;
    margin: 0 auto;
    width: 600px;
    max-width: calc(100vw - 20px);
    height: fit-content;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 0 2px #fff;
    transform:translate(-50%,-50%);
    top:50%;
    left: 50%;
    position: absolute;
    overflow: hidden;
}
.um{
    grid-area: um;
}
.dois{
    grid-area: dois;
}
.tres{
    grid-area: tres;
}
.quatro{
    grid-area: quatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.sete{
    grid-area: sete;
}
.oito{
    grid-area: oito;
}
.nove{
    grid-area: nove;
}
.modal-header h3{
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.modal-header, .modal-body, .modal-footer{
    padding: 20px;
}
.modal-footer{
    background-color: rgb(231, 231, 231);
}


@media (max-width: 1080px){
    .main-container{
        grid-template-areas: 
        "competencias competencias"
        "provasenai provabosch";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 11fr 5fr;
        gap: 20px;
        height: 100%;
        width: 1000px;
        max-width: calc((100vw - 50px));
        margin: 0 auto;
    }
}

@media (max-width: 860px){
    .main-container{
        grid-template-rows: 11fr 4fr;
    }

    .competencias-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(7, 1fr);
    }
}

@media (max-width: 680px){
    .main-container{
        grid-template-rows: 10fr 3fr;
    }

    .competencias-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}

@media (max-width: 600px){
    .main-container{
        grid-template-areas: 
        'competencias'
        'provasenai'
        'provabosch';
        grid-template-columns: 1fr;
        grid-template-rows: 8fr 2fr 2fr;
    }
}

@media (max-width: 500px){
    .competencias-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(13, 1fr);
    }
}

