<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logoets.ico" type="image/x-icon">
    <link href="//db.onlinewebfonts.com/c/952bab25f6798d6bb1937d67e9bee4dd?family=Sans" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://www.bosch.com.br/media/tech/styles/main.css?ver=1627985259056">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
    
    <title>Engineering Technical School</title>
</head>

<body>
<!-- === Header === -->
    <header class="header">
        <div class="header-container">
            <div class="header-left">
                <a href="index.html">
                    <img src=images/logobosch.png>
                </a>
            </div>

            <div class="header-right">

    <!-- === Menu Button === -->
                <div class="menu">
                    <div class="hamburger">
                        <div id="burger1"></div>
                        <div id="burger2"></div>
                        <div id="burger3"></div>
                    </div>
                    <span class="menu-text menus">Menu</span>
                </div>

    <!-- === Search Bar === -->
                <div class="O-Header__mainRow__item O-Header__mainRow__search">
                    <m-search-field-dynamic class="M-SearchField" data-placeholder="Buscar" data-label="Buscar" data-aria-label-search-form="Side wide" data-aria-label-search-icon="Procurar" data-aria-label-close-icon="Fechar" >
                        <form aria-label="Side wide" role="search" class="M-SearchField__form ng-pristine ng-valid" ng-submit="$ctrl.onSubmit()" ng-click="$ctrl.openSearch()" tabindex="0">
                            <a-icon-dynamic class="M-SearchField__search" data-name="'search'" ng-click="$ctrl.openSearch()" data-width="24" data-height="24" tabindex="-1" data-ng-attr-aria-label="{{$ctrl.ariaLabelSearchIcon}}" role="button" aria-label="Procurar">
                                <i class="fa fa-search A-Icon A-Icon--search" data-ng-class="[ 'A-Icon--' + $ctrl.name, $ctrl.variation &amp;&amp; 'A-Icon--' + $ctrl.variation, {'A-Icon--inverted': $ctrl.inverted} ]" data-ng-attr-width="{{$ctrl.width || 24}}" data-ng-attr-height="{{$ctrl.height || 24}}" width="24" height="24"><!---->
                                    <use xlink:href="https://www.bosch.com.br/#search" data-ng-attr-xlink:href="{{$ctrl.name &amp;&amp; ('#' + $ctrl.name)}}"></use>
                                </i>
                            </a-icon-dynamic>
                            <input onblur="voltarTamanho()" onclick="aumentarTamanho()" id="inputbusca" class="M-SearchField__input ng-pristine ng-valid ng-empty ng-touched" ng-style="$ctrl.viewport > 1 &amp;&amp; !$ctrl.isStatic &amp;&amp; !$ctrl.open &amp;&amp; {'width': $ctrl.calculatedWidth}" type="search" placeholder="Buscar" aria-label="Buscar" ng-model="$ctrl.searchTerm" ng-keyup="$ctrl.checkSearchTerm()" tabindex="-1" aria-invalid="false" style="width: 57px;"><!---->
                        </form><!---->
                        <div class="M-SearchField__widthCalculationWrapper">Buscar</div>
                    </m-search-field-dynamic>
                </div>
            </div>
        </div>
    </header>

    <!-- === Menu === -->

    <section class="menu-bar">
        <div class="menu-bar-container">

            <!--1º Menu-->
            <ul class="menu1">
                <li>Produtos e serviços</li>
                <li>Notícias e histórias</li>
                <li>Nossa empresa</li>
                <li>Carreiras</li>
                <li><a href="#">Imprensa</a></li>
            </ul>
            
        </div>
    </section>

<!-- === Area do Aluno === -->

    <section class="login">
        <div class="login-container">
            <div class="login-ets">
                <h1>Logue com o seu EDV</h1>
            </div>

            <div class="edv">
                <a-form-field class="A-FormField A-FormField-Input A-FormField-Input-Email">
                    <div class="A-FormField__wrapper">
                        <input type="text" class="A-FormField__element ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength ng-touched edv" name="uEmail" id="email-field" value="" data-ng-required="true" data-ng-pattern="/.+@.+\..+/" data-ng-maxlength="255" required="required">      <label for="email-field" class="A-FormField__label">
                        <span class="A-FormField__labelText">EDV</span></label>
                        <span class="A-FormField__background"></span>
                    </div>
                    <div class="A-FormField__validation">
                      <!---->
                    </div>
                  </a-form-field>
            </div>

            <div class="password">
                <a-form-field class="A-FormField A-FormField-Input A-FormField-Input-Password">
                    <div class="A-FormField__wrapper">
                        <input type="password" class="A-FormField__element ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched senha" name="uPassword" id="password-field" value="" data-ng-model="$LoginFormCtrl.user.password" data-ng-required="true" autocomplete="off" required="required">        <div class="formfield-password-visibility" data-ng-click="$ctrl.toggleVisibility()">
                            <!----><div ng-if="($ctrl.$inputType === 'password')" class="">
                            </div><!---->
                            <!---->
                          </div>
                        <label for="password-field" class="A-FormField__label">
                        <span class="A-FormField__labelText">Palavra-passe</span></label>
                        <span class="A-FormField__background"></span>
                    </div>
                    <div class="A-FormField__validation">
                      <!---->
                    </div>
                  </a-form-field>
            </div>

            <div class="login-options">
				<div class="row O-LoginForm__Row O-LoginForm__Row-No-Padding-Top">
					<div class="col-sm-6 col-md-6">
						<input  type = "checkbox" id = "continuarSessao" class="A-FormField__element">
						<label for = "continuarSessao" class="A-FormField__labelText"> Manter a sessão iniciada? </ label>
                        <span><a-form-field id="remember-login-field-sm-min" class="A-FormField A-FormField-Input A-FormField-Input-Checkbox A-FormField--noValidation">
							<div class="A-FormField__validation A-FormField__validation--hideLine">
							</div>
						</span><!---->
					</div><div class="col-sm-6 col-md-6" data-ng-if="login.forgotPassword">
							<div class="loginForm-link--rightAligned">
								<div class="A-Link A-Link--primary">
									<a class="A-Link__link A-Link__link--primary" target="_self" id="forgotpasswordLinkSmMin" href="#">
										<span class="A-Link__linkText">Esqueceu sua senha?</span>
									</a>
                              </div>
							</div>
					</div><!---->
				</div>
			</div>
            <div class="login-options"></div>
            <a href="areadoaluno.html" class="login-btn">
                <span>Login</span>
            </a>
            <a href="#" class="registrar">
                <span>
                    Ainda não registrado?
                </span>
            </a>
        </div>
    </section>

<!-- === Footer === -->

    <footer class="footer">
        <div class="redes-sociais-texto">
            <p>Siga o grupo Bosch no</p>
        </div>

        <div class="redes-sociais">
            <div class="redes-sociais-container">
                <a href="#" class="rede-social">
                    <img src="images/facebook.png" alt="Logo Facebook">
                </a>
    
                <a href="#" class="rede-social">
                    <img src="images/twitter.png" alt="Logo Twitter">
                </a>
    
                <a href="#" class="rede-social">
                    <img src="images/youtube.png" alt="Logo Youtube">
                </a>
    
                <a href="#" class="rede-social">
                    <img src="images/linkedin.png" alt=" Logo Linkedin">
                </a>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="copyright">© 2019 Robert Bosch GmbH</div>
            <div class="copyright-links">
                <a href="#">Corporate information / Privacy Statement / Legal notice</a>
                <a href="#">Privacy settings</a>
            </div>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>